apiVersion: apps/v1
kind: Deployment
metadata:
  name: sdewan
  labels:
    app: sdewan
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sdewan
  template:
    metadata:
      labels:
        app: sdewan
      annotations:
        k8s.v1.cni.cncf.io/networks: '[
            { "name": "ovn4nfv-k8s-plugin",
              "interface": "net1"
            }]'
        k8s.plugin.opnfv.org/nfn-network: '{ "type": "ovn4nfv", "interface": [{"name": "virtual-net3", "interface": "net2", "defaultGateway": "false"}, { "name": "virtual-net2", "interface": "net3", "defaultGateway": "false"}, { "name": "right-pnetwork", "interface": "net4", "defaultGateway": "false"}]}'

    spec:
      containers:
      - name: sdewan
        image: rkamudhan/netshoot:v1.0
        imagePullPolicy: IfNotPresent
        stdin: true
        tty: true
---
