apiVersion: apps/v1
kind: Deployment
metadata:
  name: slb
  labels:
    app.kubernetes.io/name: slb
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: slb
  template:
    metadata:
      labels:
        app.kubernetes.io/name: slb
      annotations:
        k8s.v1.cni.cncf.io/networks: '[
            { "name": "ovn4nfv-k8s-plugin",
              "interface": "net1"
            }]'
        k8s.plugin.opnfv.org/nfn-network: '{ "type": "ovn4nfv", "interface": [{"name": "virtual-net0", "interface": "net2", "defaultGateway": "false"}, {"name": "left-pnetwork", "interface": "net3", "defaultGateway": "false"}, { "name": "virtual-net1", "interface": "net4", "defaultGateway": "false"}]}'
    spec:
      containers:
      - name: slb
        image: rkamudhan/netshoot:v1.0
        imagePullPolicy: IfNotPresent
        stdin: true
        tty: true
---
